/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.bordered {
  border: solid 2px purple;
}
.nav-bar {
  display: flex;
  padding-top: 30px;
  padding-bottom: 110px;
  height: 40px;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .nav-bar {
    border-bottom: darkgray solid 1px;
    flex-direction: column;
    align-items: center;
  }
}
.nav-bar i {
  margin-right: 5px;
}
.nav-bar .logo {
  font-family: "Comfortaa", cursive;
  font-size: 3.5rem;
}
@media (max-width: 500px) {
  .nav-bar .logo {
    margin-bottom: 10px;
  }
}
.nav-bar .nav {
  justify-content: flex-end;
  padding-top: 10px;
}
.nav-bar .nav a {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 1.6rem;
  margin-right: 20px;
  text-decoration: none;
}
.footer {
  display: flex;
  border-top: solid darkgray 1px;
}
@media (max-width: 500px) {
  .footer {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }
}
.footer .copyright {
  padding-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}
.footer .copyright .logo {
  font-family: "Comfortaa", cursive;
  font-size: 2.8rem;
  margin-bottom: 10px;
}
.footer .copyright .logo .fas {
  margin-right: 5px;
}
.footer .copyright p {
  font-family: "Quicksand", sans-serif;
  font-size: 1.4rem;
}
.footer .footer-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
}
@media (max-width: 500px) {
  .footer .footer-nav {
    display: block;
    padding-bottom: 30px;
  }
}
.footer .footer-nav a {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-size: 1.6rem;
  margin: 5px 10px;
  text-decoration: none;
}
.main1 {
  margin: 30px 0;
}
.main1 .main1-top {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main1 .main1-top h1 {
  font-size: 3.8rem;
  margin: 10px 0;
  margin-bottom: 20px;
}
.main1 .main1-top p {
  text-align: center;
  margin-bottom: 20px;
}
.main1 .main1-buttons {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.main1 .main1-buttons button {
  width: 15%;
}
@media (max-width: 500px) {
  .main1 .main1-buttons button {
    width: 80%;
    padding: 10px;
  }
}
.main1 .main1-buttons a {
  margin-top: 3px;
}
@media (max-width: 500px) {
  .main1 .main1-buttons a {
    display: none;
  }
}
.main1 .main1-imgs {
  margin: 30px 0;
}
.home-head-img {
  width: 30%;
  height: auto;
}
.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.main2 h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.main2 p {
  text-align: center;
}
