.main {
  @media (min-width: 900px) {
    padding: 0 100px;

    .about-img {
      width: 50%;
    }
  }
  @media (min-width: 1200px) {
    padding: 0 100px;
    .about-img {
      height: 30%;
    }
  }
  @media (min-width: 550px) {
    margin: 0 40px;
  }

  .about-title {
    margin-bottom: 50px;
    font-size: 5rem;
    color: @onyx;
    padding-bottom: 10px;
    border-bottom: 1px solid @satin-gold;
    @media (max-width: 650px) {
      text-align: center;
      padding-bottom: 20px;
      margin: 0 40px;
      font-size: 6rem;
      color: @myrtle-green;
      border-bottom: 1px solid @satin-gold;
    }
  }

  .about {
    display: flex;
    margin-bottom: 160px;
    @media (max-width: 650px) {
      margin-top: 40px;
      display: block;
      width: 100%;
    }
    .about-text {
      width: 100%;
      margin-right: 10px;

      @media (max-width: 650px) {
        text-align: center;
        margin-bottom: 60px;
        padding: 0 40px;
      }
    }
    .about-img {
      width: 100%;
    }
  }

  .contact-bios {
    @media (max-width: 500px) {
      margin: 0px;
      margin: 0 50px;
    }
    h2 {
      width: 100%;
      text-align: right;
      padding-bottom: 10px;
      margin: 70px 0;
      color: @onyx;
      font-size: 5rem;
      border-bottom: 1px solid @satin-gold;

      @media (max-width: 500px) {
        text-align: center;
        margin-bottom: 100px;
        font-size: 6rem;
        color: @myrtle-green;
        border-bottom: 1px solid @satin-gold;
      }
      @media (max-width: 650px) {
        text-align: center;
        font-size: 6rem;
        color: @myrtle-green;
        border-bottom: 1px solid @satin-gold;
      }
    }
    .bio {
      display: flex;
      margin-bottom: 100px;

      @media (max-width: 500px) {
        margin-bottom: 65px;
        flex-direction: column;
        align-items: center;
      }
      img {
        width: 200px;
        height: 200px;
        @media (max-width: 500px) {
          width: 60%;
          height: auto;
        }
      }
      .card {
        margin-left: 20px;
        @media (max-width: 500px) {
          text-align: center;
          margin-top: 30px;
        }
        h3 {
          font-size: 2.6rem;
          margin-bottom: 5px;
          @media (max-width: 500px) {
            font-size: 3rem;
          }
        }
        .role {
          font-size: 2rem;
        }
        .bio-text {
          margin-top: 10px;
        }
      }
    }
    .bio2 {
      flex-direction: row-reverse;
      .card {
        //text-align: right;
        flex-direction: row-reverse;
        margin-right: 20px;
        padding-top: 30px;
      }
      @media (max-width: 500px) {
        flex-direction: column;
      }
    }
  }
  .join {
    text-align: center;
    margin-bottom: 100px;
    @media (max-width: 500px) {
      display: none;
    }
    p {
      font-size: 3rem;
    }
    a {
      font-size: 1.5rem;
      text-decoration: none;
      color: black;
    }
  }
}
