.footer {
  .focus(orange);
  // padding-top: 80px;
  display: flex;
  flex-direction: row;
  @media (max-width: 500px) {
    flex-direction: column;
    text-align: center;
    padding: 0;
  }

  .copyright {
    .focus(green);
    a {
      text-decoration: none;
      font-size: 1.4rem;
      @media (max-width: 500px) {
        padding: 15px 0;
        border: darkgrey 1px solid;
      }
    }
  }

  ul {
    .focus(pink);
  }
}
