.main1 {
  margin: 30px 0;
  @media (max-width: 500px) {
  }
  .main1-top {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3.8rem;
      margin: 10px 0;
      margin-bottom: 50px;
      @media (max-width: 500px) {
        font-size: 6rem;
        margin-top: 90px;
        margin-bottom: 60px;
      }
    }
    p {
      text-align: center;
      margin-bottom: 40px;
    }
  }
  .main1-buttons {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    button {
      width: 15%;
      @media (max-width: 500px) {
        width: 80%;
        padding: 10px;
      }
    }
    a {
      margin-top: 3px;
      text-decoration: none;
      color: black;
      font-size: 1.6rem;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
  .main1-imgs {
    margin: 30px 0;
    @media (max-width: 500px) {
      margin: 90px 0;
    }
  }
}

.home-head-img {
  width: 30%;
  height: auto;
}
.img1,
.img3 {
  @media (max-width: 500px) {
    display: none;
  }
}
.img2 {
  @media (max-width: 500px) {
    width: 100%;
    padding: 0 10px;
  }
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  h3 {
    margin-top: 30px;
    font-size: 3rem;
    margin-bottom: 20px;
    @media (max-width: 500px) {
      font-size: 5.5rem;
      margin-bottom: 60px;
      margin-top: 30px;
    }
  }
  p {
    text-align: center;
    @media (max-width: 500px) {
      margin-bottom: 80px;
    }
  }
}

.steps {
  margin-top: 100px;
  display: flex;
  width: 100%;
  @media (max-width: 550px) {
    border-top: 1px solid @accent-color-2;
    padding-top: 100px;
    margin-top: 0px;
    flex-direction: column;
  }

  .step-card {
    width: 100%;
    text-align: center;
    @media (max-width: 550px) {
      margin-bottom: 80px;
    }

    &:hover {
      transition: all 0.4s ease-in-out;
      padding: 20px;
      color: @accent-pop;
    }
    .step-text {
      font-size: 2.5rem;
      &:hover {
        font-size: 3rem;
      }
    }
  }
}

.icon {
  margin-top: 50px;
  font-size: 8rem;
  @media (max-width: 550px) {
    margin-top: 10px;
  }
}
