.main1 {
  margin-bottom: 30px;

  .main1-top {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .welcome {
      display: flex;
      margin-bottom: 30px;

      h1 {
        font-size: 10rem;
        margin: 10px 30px;
        padding-top: 45px;
        margin-bottom: 50px;
        color: @satin-gold;
        @media (max-width: 660px) {
          font-size: 8rem;
        }
        @media (max-width: 560px) {
          flex-direction: column;
          padding: 0 80px;

          padding-bottom: 40px;
          border-bottom: 1px solid @satin-gold;
        }
        @media (max-width: 500px) {
          font-size: 8rem;
          margin-top: 30px;
          margin-bottom: 50px;
          padding: 0 60px;
          padding-bottom: 40px;
        }
      }
      .fork {
        width: 100px;
        height: 170px;
        z-index: -3;
        @media (max-width: 560px) {
          display: none;
        }
      }
    }

    .welcome-p {
      text-align: center;
      margin-bottom: 40px;
      @media (max-width: 600px) {
        padding: 0 20px;
      }
    }
  }
  .main1-buttons {
    background-color: #e1e2e4;
    height: 50px;

    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    @media (max-width: 550px) {
      display: none;
    }
    a {
      text-decoration: none;
      color: @onyx;
      font-size: 1.6rem;
      padding-top: 18px;
      &:hover {
        padding-top: 15px;
        font-size: 2.3rem;
        color: @polished-pine;
        padding-bottom: 0;
        border-bottom: 1px @gold-faded solid;
        border-top: 1px @gold-faded solid;
      }
    }
  }
  .main1-imgs {
    margin: 30px 0;
    @media (max-width: 500px) {
      margin: 90px 0;
    }
  }
}

.carousel {
  margin-top: 60px;
  display: flex;
}
.mySlides {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: row;

  .img1,
  .img3 {
    @media (max-width: 500px) {
      display: none;
    }
  }
  .img2 {
    @media (max-width: 500px) {
      width: 100%;
      padding: 0 10px;
    }
  }
}

.main2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  padding: 0 20px;
  @media (min-width: 900px) {
    padding: 0 200px;
  }
  h3 {
    margin: 40px 0;
    font-size: 5rem;
    margin-bottom: 20px;
    color: @teal-blue;
    padding: 0 100px;
    padding-bottom: 10px;
    border-bottom: 1px solid @satin-gold;
    @media (max-width: 580px) {
      padding: 0 60px;
    }
    @media (max-width: 500px) {
      font-size: 4rem;
      margin-bottom: 40px;
      margin-top: 30px;
      padding: 0 40px;
    }
  }
  p {
    text-align: center;
    margin-top: 20px;
  }
  @media (max-width: 500px) {
    margin-bottom: 80px;
  }
}

.steps {
  margin-top: 100px;
  display: flex;
  height: 300px;
  margin: 0 20px;
  @media (max-width: 550px) {
    border-top: 1px solid @accent-color-2;
    height: 850px;
    margin-top: 0px;
    padding-top: 40px;
    flex-direction: column;
  }
  @media (min-width: 900px) {
    padding: 0 200px;
  }

  .step-card {
    background-color: white;
    width: 100%;
    text-align: center;
    padding: 0 50px;

    @media (max-width: 550px) {
      margin-bottom: 80px;
    }

    &:hover {
      .step-text {
        font-size: 3rem;
      }
      .step-content {
        font-size: 1.8rem;
      }
      font-size: 4rem;
      transition: all 0.4s ease-in-out;
      padding: 20px;
      color: #71baaf;
    }
    .step-text {
      font-size: 2.5rem;
    }
  }
}

.icon {
  margin-top: 50px;
  font-size: 8rem;
  @media (max-width: 550px) {
    margin-top: 10px;
  }
}
