.nav-bar {
  display: flex;
  padding-top: 10px;
  margin-bottom: 130px;
  height: 60px;
  justify-content: space-between;
  background-color: @onyx;
  @media (min-width: 1000px) {
    width: 100%;
  }
  @media (max-width: 550px) {
    padding-top: 10px;
    padding-bottom: 80px;
    border-bottom: @accent-color-2 solid 1px;
    flex-direction: column;
    align-items: center;
  }
  i {
    margin-right: 5px;
    color: @satin-gold;
  }

  .logo {
    margin-left: 10px;
    font-family: @replate-font;
    font-size: 3.5rem;
    text-decoration: none;
    color: @platinum;
    &:hover {
      i {
        color: @gold-faded;
      }
      color: @faded-onyx;
    }

    @media (max-width: 550px) {
      margin-bottom: 10px;
      font-size: 2.6rem;
    }
  }
  .nav {
    justify-content: flex-end;
    padding-top: 10px;

    a {
      font-family: @nav-font;
      color: @platinum;
      font-size: 1.6rem;
      margin-right: 10px;
      margin-left: 5px;
      text-decoration: none;
      &:hover {
        color: @faded-onyx;
        padding-bottom: 5px;
        border-bottom: solid @gold-faded 1px;
      }
      @media (max-width: 550px) {
        margin-bottom: 10px;
        font-size: 1.5rem;
      }
    }
  }
}
