.nav-bar {
  .focus(purple);
  display: flex;
  margin-top: 20px;
  height: 40px;

  .logo {
    font-size: 2rem;
    margin-left: 10px;
  }
  .nav {
    justify-content: flex-end;
    display: flex;
    .focus(green);

    a {
      font-size: 1.6rem;
      margin-right: 10px;
      text-decoration: none;
      color: darkolivegreen;
    }
  }
}
