//use font-family
@replate-font: "Comfortaa", cursive;
@nav-font: "Quicksand", sans-serif;

//Colors
@main-color: black;
@accent-color: darkgray;
@accent-color-2: lightgrey;

@accent-pop: #397367;

// variables - z-index

// @header-zindex: 2;
// @modal-zindex: 3;

// // variables - header

// @header-height-S: 50px;
// @header-height-M: 80px;
